<form method="post" action="/sign_in_form">
  <label for="username">Username:</label>
  <input type="text" name="username" />
  <label for="password">Password:</label>
  <input type="text" name="password" />
  <button type="submit">Sign In</button>
  <a href="/">Go Back</a>
</form>