<form method="post" enctype="multipart/form-data">
  <label for="upload">Upload Image</label>
  <input type="file" name="myfile" />
  <input type="submit" value="Upload!" />
</form>
<br>
<a href="/index">Go Back</a>